In [14]:
import numpy as np
import seaborn as sns

In [12]:
arr= np.random.rand(3,3)*2+5
arr

array([[6.67056383, 6.12954808, 5.38345924],
       [6.5184587 , 5.03456755, 6.67665407],
       [6.73872393, 5.40319016, 5.23252671]])

In [11]:
arr_=arr[0:2,1:]
arr_

array([[0.79748407, 0.92446271],
       [0.86817883, 0.93361722]])

In [43]:
df =sns.load_dataset("iris")

In [44]:
df.shape #크기확인

(150, 5)

In [45]:
df.head(3)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa

In [46]:
df.ndim #차원확인

2

In [47]:
df.dtypes #데이터 형식확인

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [48]:
df=df.set_index('species')

In [49]:
df.head(3)

         sepal_length  sepal_width  petal_length  petal_width
species
setosa            5.1          3.5           1.4          0.2
setosa            4.9          3.0           1.4          0.2
setosa            4.7          3.2           1.3          0.2

In [50]:
df.sepal_length

species
setosa       5.1
setosa       4.9
setosa       4.7
setosa       4.6
setosa       5.0
            ...
virginica    6.7
virginica    6.3
virginica    6.5
virginica    6.2
virginica    5.9
Name: sepal_length, Length: 150, dtype: float64

In [51]:
df.iloc[:,2]

species
setosa       1.4
setosa       1.4
setosa       1.3
setosa       1.5
setosa       1.4
            ...
virginica    5.2
virginica    5.0
virginica    5.2
virginica    5.4
virginica    5.1
Name: petal_length, Length: 150, dtype: float64

In [52]:
df=df.drop(['petal_length','petal_width'],axis=1)

In [53]:
df=df.drop(['setosa'],axis=0)

In [54]:
df

            sepal_length  sepal_width
species
versicolor           7.0          3.2
versicolor           6.4          3.2
versicolor           6.9          3.1
versicolor           5.5          2.3
versicolor           6.5          2.8
...                  ...          ...
virginica            6.7          3.0
virginica            6.3          2.5
virginica            6.5          3.0
virginica            6.2          3.4
virginica            5.9          3.0

[100 rows x 2 columns]

In [55]:
df['test']=0

In [56]:
df

            sepal_length  sepal_width  test
species
versicolor           7.0          3.2     0
versicolor           6.4          3.2     0
versicolor           6.9          3.1     0
versicolor           5.5          2.3     0
versicolor           6.5          2.8     0
...                  ...          ...   ...
virginica            6.7          3.0     0
virginica            6.3          2.5     0
virginica            6.5          3.0     0
virginica            6.2          3.4     0
virginica            5.9          3.0     0

[100 rows x 3 columns]

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100 entries, versicolor to virginica
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  100 non-null    float64
 1   sepal_width   100 non-null    float64
 2   test          100 non-null    int64
dtypes: float64(2), int64(1)
memory usage: 3.1+ KB

In [59]:
df.dropna()

            sepal_length  sepal_width  test
species
versicolor           7.0          3.2     0
versicolor           6.4          3.2     0
versicolor           6.9          3.1     0
versicolor           5.5          2.3     0
versicolor           6.5          2.8     0
...                  ...          ...   ...
virginica            6.7          3.0     0
virginica            6.3          2.5     0
virginica            6.5          3.0     0
virginica            6.2          3.4     0
virginica            5.9          3.0     0

[100 rows x 3 columns]